*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: deepskyblue;
    font-family: "DejaVu Sans";
}

.top-nav-bar
{
    height: 57px;
    top: 0;
    position: sticky;
    background: lightgray;
    margin-bottom: 20px;
    border-bottom: 3px solid lightgray;
    z-index: 2;
}

/*.form-control
{
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid lightgray !important;
    border-top-left-radius: 9px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
} */

.input-group-text
{
    height: 38px;
    background: white !important;
    border: 1px solid lightgray !important;
    margin: 9px 10px 3px 0 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;

    cursor: pointer;
}

.search-box
{
    display: inline-flex;
    width: 60%;
}

.fa-search
{
    color: goldenrod;
}

.menu-bar
{
    width: 40%;
    height: 57px;
    float: right;
}

.menu-bar ul
{
    display: inline-flex;
    float: right;
}

.menu-bar ul li
{
    border-left: 1px solid #fff;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: lightgray;
    cursor: pointer;
}

.menu-bar ul li a
{
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    font-family: SansSerif;
}

.fa-shopping-basket
{
    margin-right: 5px;
}

@media only screen and (max-width: 980px) {
    .top-nav-bar {
        height: 118px;
        border-bottom: 0;
    }

    .search-box {
        width: 100%;
    }

    .menu-bar {
        width: 100%;
    }

    .menu-bar ul {
        margin: 10px;
        width: 100%;
    }

    .menu-bar ul li {
        height: 57px;
        width: 100%;
    }
}

/* side menu*/

.side-menu
{
    height: 79%;
    width: 15%;
    font-size: 14px;
    float: left;
    z-index: 2;
    background-color: lightgray;
}

.side-menu ul
{
    margin-left: 10px;
}

.side-menu ul li
{
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.side-menu ul li:hover
{
    color: yellow;
}

.fa-angle-right
{
    margin-top: 4px;
    margin-right: 8px;
    float: right;
}

#menu-btn, #close-btn
{
    font-size: 30px;
    color: black;
    margin: 10px;
    display: none;
}
#menu-btn
{
    display: block;
}
@media only screen and (max-width: 980px)
{
    .side-menu
    {
        width: 34%;
        z-index: 20;
        top: 133px;
        position: fixed;
        font-size: 12px;
        background-color: #f1f3f4;
        display: none;

    }

}
