<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Prodavnica</title>
    <link rel="stylesheet" th:href="@{/CSS/home.css}"/>



</head>
<body>


<div class="menu-bar">
<ul>

    <li><a th:href="${'/dodaj-korisnika'}">Registracija</a></li>
    <li><a th:href="${'/prijavi-korisnika'}">Prijava</a></li>



</ul>
</div>




    
</body>
</html>