<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Korisnik</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
</head>
<body>
<h2 style="text-align:center">Profil korisnika</h2>
<div class="card">

    <h1 th:text="${korisnik.ime}"></h1>
    <br>
    <h1 th:text="${korisnik.prezime}"></h1>
    <br>
    <p class="title" th:text="${korisnik.uloga}"></p>
    <br>
</div>
<a id="prikazKorisnika" th:href="${'/korisnici'}" style="text-align: center;">Vrati se nazad</a>

</body>
</html>
