<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Korisnici</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
</head>
<body>


<h1>Korisnici</h1>

<button onclick="location.href = '/dodaj-korisnika'">Registrujte se</button>
<button onclick="location.href = '/prijavi-korisnika'">Prijavite se</button>
<br><br>
<table id="korisnici">
    <tr>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Uloga</th>


    </tr>
    <tr th:each="korisnik : ${korisnici}">
        <td th:text="${korisnik.ime}"></td>
        <td th:text="${korisnik.prezime}"></td>
        <td th:text="${korisnik.uloga}"></td>
        <td><a th:href="${'/korisnici/' + korisnik.getID()}">View</a></td>
    </tr>
</table>

</body>
</html>
